<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="HospitalManagementSystem.Properties.Settings.HMSSConnectionString"
            connectionString="Data Source=DESKTOP-36ET37M;Initial Catalog=HMSS;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="HospitalManagementSystem.Properties.Settings.HMSSConnectionString1"
            connectionString="Data Source=DESKTOP-DLSNNJC;Initial Catalog=HMSS;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
</configuration>